*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
li{
    list-style: none;
}
.navBar{
    padding-top: 1%;
    .option{
        display: flex;
        justify-content: space-between;
        >ul{
            display: flex;
            >li{
                padding-left: 20px;
            }
        }
        .left{

        }
        .right{
            >li:last-child{
                padding-right: 20px;
            }
        }
    }
    .sort{
        display: flex;
        >div{
            flex: 1;
        }
        .list{
            >ul{
                width: fit-content;
                margin: auto;
                display: flex;
                >li{
                    padding-left: 20px;
                    font-size: 1.3em;
                    &:last-child{
                        padding-right: 20px;
                    }
                }
            }
        }
        .search{
            text-align: right;
            padding-right: 20px;
        }
    }
}
