*{
    margin: 0;
    padding: 0;
    font-family: '微軟正黑體';
    -moz-user-select: none;  /* for Firefox */ 
    -webkit-user-select: none;   /* for Chrome */

}
body{
    background-color: rgb(240, 240, 240);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #2b2b2b;
}
.navBar{
    padding-top: 1%;
    .option{
        display: flex;
        justify-content: space-between;
        >ul{
            display: flex;
            >li{
                margin-left: 20px;
                cursor: pointer;
                >select{
                    background-color: rgb(240, 240, 240);
                    border-color: rgb(240, 240, 240);
                    font-size: .9rem;
                }
            }
            .more{//disable
                background: url(../img/more.svg) center no-repeat;
                background-size: contain;
            }
        }
        .left{

        }
        .right{
            >li:last-child{
                margin-right: 20px;
            }
        }
    }
    .logo{
        height: 150px;
        background: url(../img/logo.png) center no-repeat;
        background-size: contain;
        margin: 1% auto;
        width: 10%;
        position: relative; 
        >a{
            width: 100%;
            height: 100%;
            position: absolute; 
        }
    }
    .sort{
        display: flex;
        >div{
            flex: 1;
        }
        .list{
            >ul{
                width: fit-content;
                margin: auto;
                display: flex;
                >li{
                    padding-left: 30px;
                    font-size: 1.3rem;
                    &:last-child{
                        padding-right: 30px;
                    }
                }
            }
            :hover{
                cursor: pointer;
            }
        }
        .search{
            text-align: right;
            padding-right: 20px;
        }
    }
}
.border{
    border-bottom: 1px solid #d4d4d4;
    margin: 1% 0;
}
.swiper-container{
    width: 70%;
    .swiper-slide{
        text-align: center;
        font-size: 18px;
        // background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        height: 400px;
        cursor: pointer;
    }
    .banner_1{
        background: url(../img/banner01.jpg) center no-repeat;
        background-size: contain;
    }
    .banner_2{
        background: url(../img/banner02.jpg) center no-repeat;
        background-size: contain;
    }
    .banner_3{
        background: url(../img/banner03.jpg) center no-repeat;
        background-size: contain;
    }
    .banner_4{
        background: url(../img/banner04.jpg) center no-repeat;
        background-size: contain;
    }
    .banner_5{
        background: url(../img/banner05.jpg) center no-repeat;
        background-size: contain;
    }
    .swiper-pagination-bullet-active{
        background: #2e2e2e;
    }
}
.footer{
    width: 100%;
    margin-top: 2%;
    height: 50px;
    display: flex;
    background-color: #2d2d2d;
    flex-wrap: wrap;
    padding: 1% 0;
    .copyright, .contact{
        width: 100%;
        color: #fff;
        text-align: center;
        margin: auto;
    }
    .contact{
        font-size: 1.1rem;
    }
    .contactMail{
        color: #fff;
        font-size: 1rem;
        &:hover{
            color: rgb(255, 242, 168);
        }
    }
}
.service{
    .formContainer{
        background-color: #fff;
        width: 40%;
        margin: auto;
        padding: 2%;
        border-radius: 10px;
        box-shadow: 2px 5px 10px rgba(100, 100, 100, .3);
        >h2, .formInput{
            margin-bottom: 1%;
        }
        #contactForm{
            >*{
                padding: 2px 5px;
                border-radius: 5px;
            }
            .formInput{
                width: 97%;
            }
            #msgArea{
                min-height: 150px;
            }
            .formBtn{
                float: right;
                margin: auto 1%;
            }
            .postForm{
                pointer-events: none;
            }
        }
    }
}